@charset "UTF-8";
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
}

body {
    background-color: #004492 ;
}

section {
    background-color: #446994 ;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    height: fit-content; 
}

input {
    padding: 4px;
    background-color: #6d8197;
    color: #ffffff;
    margin: 8px 5px 2px 5px; 
}

.DoubleDigitInput {
    width: 25px;
    
    }

.DoublePlusDigitInput {
        width: 35px;
        
        }
    
.FourDigitInput {
        width: 45px;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
    border: solid 2px white;
    border-radius: 3px;

  }

input[type=button] {
    border-radius: 8px ;
    border: none;
    background-color: #004492;
  }

input[type=button]:hover {
   background-color: #6d8197;
   cursor: pointer;
  }


  
li {
    margin: 7px;
    
  }

#datadiv, #horadiv {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline; 
}

.ColumnList {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}

@media screen and (max-width: 500px) {
    .ColumnList {
        display: block

    }
}

@media screen and (max-width: 200px) {
section {
        background-color: inherit;
        font-size: 13px;
        text-align: center;
        
    }
input {
        font-size: 15px;
    }
.DoubleDigitInput {
        width: 15px;
        
        }
    
.DoublePlusDigitInput {
            width: 25px;
            
            }
        
.FourDigitInput {
            width: 35px;
        }

input[type=button] {
            background-color: #6d8197;
        }
}


